body {
    text-align: center;
}
h2 {
    color: darkblue;
}
h3 {
    color: blue;
}
table {
    margin: 20px auto;
    width: 70%;
    border: 2px solid red;
}
th, td {
    border: 1px solid red;
    padding: 15px;
    text-align: center;
}
th {
    font-weight: bold;
}
hr {
    border: none;
    height: 2px;
    background-color: lime;
    margin: 10px 0;
}